:root {
    --bg-primary-90: rgb(45, 56, 94, .9);
    --bg-white-90: rgba(255, 255, 255, .92);
    --c-custom: #2d385e;
    --c-custom-1: #3c8dbc;
    --col-custom: #404E67;
    --bg-custom: #4f77ff;
    --bg-custom-2: #222d32;
    --bg-custom-2-active: #1e282c;
    --bg-custom-3: #1a2226;
    --bg-logo: #367fa9;
    --bg-custom-header: #3c8dbc;
    --bg-main: #f8f8f8;
    --sidenav-collapsed-width: 3.125rem;
    --sidenav-expanded-width: 14.5rem;
    --link-custom: #b8c7ce;
    --fs-custom: 14px;
    --bg-success: #17d89e;
    --bg-danger: #FF7588;
    --text-dark-2: #444;
  }
  
  body.login {
    min-height: 100svh;
    background: #44525f url(./images/bg-4.webp) fixed no-repeat center / cover;
  }    
  
  body.dashboard {
    font-family: poppins, sans-serif;
    min-height: 100svh;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: var(--c-custom);
    margin-bottom: 0px;
  }
  
  .h-100-vh {
    min-height: 100svh;
  }
  
  .bg-90 {
    background-color: var(--bg-primary-90);
  }
  
  .bg-white-90 {
    background-color: var(--bg-white-90);
  }
  
  small {
    font-size: 0.75rem;
  }
  
  .sidenav-expanded {
    width: var(--sidenav-expanded-width);
  }
  
  body:has(.sidenav-expanded) .main {
    width: calc(100svw - var(--sidenav-expanded-width));
  }
  
  .bg-custom {
    background-color: var(--bg-custom);
  }
  
  .bg-custom-3 {
    background-color: var(--bg-custom-3);
  }
  
  .fs-custom {
    font-size: var(--fs-custom) !important;
  }
  
  .text-custom {
    color: var(--c-custom);
  }
  
  .text-custom-1 {
    color: var(--c-custom-1);
  }
  
  .text-dark-2 {
    color: var(--text-dark-2);
  }
  
  .btn-custom {
    background-color: var(--bg-custom);
    color: white;
    border-width: 0.1rem;
    border-radius: 5px;
    transition: 0.2s;
  }
  
  .btn-custom:hover {
    background-color: var(--bg-custom);
    color: white;
    filter: brightness(95%);
  }
  
  .btn-custom:active {
    color: var(--c-custom) !important;
    border: 0.1rem solid var(--bg-custom) !important;
  }
  
  .btn-custom.disabled {
    filter: brightness(50%);
  }
  
  .btn-custom-1.disabled {
    background-color: var(--bg-custom);
    color: white;
    border-color: var(--bg-custom);
    filter: brightness(75%);
  }
  
  .btn-custom-1 {
    background-color: var(--bg-custom-header);
    color: white;
    border-width: 0.1rem;
    border-radius: 5px;
    transition: 0.2s;
  }
  
  .btn-custom-1:hover {
    background-color: var(--bg-custom-header);
    color: white;
    filter: brightness(95%);
  }
  
  .btn-custom-1:active {
    color: white !important;
    border-color: none;
    filter: brightness(80%);
    background-color: var(--bg-custom-header) !important;
    /* border: 0.1rem solid var(--bg-custom-header) !important; */
  }
  
  .btn-custom-1.disabled {
    background-color: var(--bg-custom-header);
    color: white;
    border-color: var(--bg-custom-header);
    filter: brightness(75%);
  }
  
  input::placeholder {
    color: #888888 !important;
  }
  
  .login-page form {
    max-width: 25rem;
  }
  
  body.dashboard > div {
    height: 100%;
  }
  
  .business-logo {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-height: var(--sidenav-collapsed-width);
    background-color: var(--bg-logo);
  }
  
  .business-logo img {
    width: var(--sidenav-collapsed-width);
  }
  
  .nav-user-wrapper {
    background: url(./images/user-bg.webp);
  }
  
  .nav-user-img-wrapper img {
    height: var(--sidenav-collapsed-width);
    border-radius: 50%;
  }
  
  .sidenav {
    /* min-height: 100svh; */
    height: 100%;
    background-color: var(--bg-custom-2);
  }
  
  .sidenav li.active,
  .sidenav li:hover {
    background-color: var(--bg-custom-2-active);
    border-left: 3px solid var(--bg-custom-header);
  }
  
  .sidenav a {
    color: var(--link-custom);
    padding-left: 3px;
    padding-right: 5px;
    padding-block: 12px;
  }
  
  .sidenav li.active a,
  .sidenav li:hover a {
    color: white;
  }
  
  .sidenav a i {
    margin-right: 0.625rem;
    height: 2.1875rem;
    width: 2.1875rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .fa-ticket {
    transform: rotate(-45deg);
  }
  
  a:has(.tooltip-custom) {
    position: relative;
  }
  
  a:has(.tooltip-custom):hover > .tooltip-custom{
    display: block;
  }
  
  .tooltip-custom {
    z-index: 4;
    position: absolute;
    top: calc(-1.5rem - 4px);
    left: 50%;
    display: none;
    border-radius: 8px;
    height: 1.5rem;
    width: max-content;
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    background-color: #000;
    color: white;
    font-size: 0.8rem;
    transform: translateX(-50%);
  }
  
  /* .tooltip-custom::after {
    z-index: -1;
    content: "";
    position: absolute;
    left:50%;
    top: 100%;
   box-sizing: border-box;
   height: 8px;
   width: 8px;
   background-color: white;
    border-left: 4px solid #fff;
    border-bottom: 4px solid #fff;
    transform: rotate(45deg) translateX(-50%) translateY(calc(-50% + 4px));
  } */
  
  header {
    background-color: var(--bg-custom-header);
    min-height: 50px;
  }
  
  .nav .nav-item {
    /* height: 100%; */
    display: flex;
    align-items: center;
  }
  
  .nav .nav-item:hover {
    backdrop-filter: brightness(90%);
  }
  
  .nav .nav-item a {
    color: white;
  }
  
  .user-image {
    /* width: auto;
    height: auto; */
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  
  .content {
    background: var(--bg-main);
    height: 100%;
  }
  
  .leave-btn {
    align-items: center;
  }
  
  .leave-img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: #8a67d2; 
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .attendance .nav-tabs li a {
    min-height: 2.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .attendance .nav-tabs li .active {
    border-top: 3px solid var(--bg-custom-header);
    cursor:auto;
  }
  
  .attendace .nav-tabs li:hover a {
    color: #999;
  }
  
  .designation {
    position: relative;
    background-color: #f2dede;
    border-radius: 0.3rem; 
    
  }
  
  .designation h4 {
    font-size: 1.5625rem;
    font-weight: 300;
  }
  
  .designation p {
    padding-bottom: 45px;
  }
  
  .designation img {
    position: absolute;
    top: calc(50% + 1rem);
    left: 50%;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    transform: translateX(-50%);
  }
  
  #overview a, .projects a {
    text-decoration: none;
  }
  
  #clockIn {
    background: var(--bg-success);
  }
  
  #clockOut {
    background-color: var(--bg-danger);
  }
  
  #clockIn.disabledd {
    filter: brightness(60%);
    box-shadow: 0 0.1rem 0.7rem rgb(0 0 0 / 0.3) !important;
    scale: 0.9;
    cursor: not-allowed;
  }
  
  #clockOut.disabled {
    filter: brightness(60%);
    box-shadow: 0 0.1rem 0.7rem rgb(0 0 0 / 0.3) !important;
    scale: 0.9;
    cursor: not-allowed;
  }
  
  table {
    color: var(--col-custom);
  }
  
  h4 {
    font-size: 1.125rem;
  }
  
  .table th, .table td {
    color: var(--col-custom) !important;
  }
  
  .projects {
    min-height: 20rem;
  }
  
  .timeline {
    min-height: 5rem;
  }
  
  .draggable {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 0.2rem;
    min-height: 34px;
    padding: 5px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    cursor: grab;
  }
  
  .draggable:active {
    cursor: grabbing;
  }
  
  .draggable i {
    margin-right: 10px;
  }
  
  .draggable + .draggable {
    margin-top: 5px;
  }
  
  .draggable.holidays {
    color: #00a65a;
  }
  
  .draggable.leave {
    color: #00c0ef;
  }
  
  .draggable.trainings {
    color: #f39c12;
  }
  
  .draggable.projects {
    color: #605ca8;
  }
  
  .draggable.tasks {
    color: #d81b60;
  }
  
  .draggable.events {
    color: #001f3f;
  }
  
  .draggable.meetings {
    color: #39cccc;
  }
  
  .draggable.birthdays {
    color: #dd4b39;
  }
  
  
  .calendar *:not(h1, h2, h3, h4, h5, h6) {
    font-size: var(--fs-custom);
  }
  
  .calendar button {
    height: 30px;
  }
  
  .month-nav-btn {
    height: 30px;
    aspect-ratio: 1 / 1;
  }
  
  #calendar {
    width: 100%;
    table-layout: fixed;
  }
  
  #calendar th, #calendar td {
    border-width: var(--bs-border-width);
    padding-top: 0;
  }
  
  #calendar .td-body {
    min-height:  40px;
  }
  
  #calendar .td-head-wrapper {
    text-align: end;
  }
  
  #calendar a {
    /* width: 100%; */
    color: var(--c-custom-1);
    font-size: 1.25rem;
    font-weight: 300;
    text-decoration: none;
    text-underline-offset: 2px;
  }
  
  #calendar a:hover {
    text-decoration: underline;
  }
  
  #calendar td:has(.td-head[data-current='false']) .td-head-wrapper a {
    color: var(--link-custom);
  }
  
  #calendar tr td:nth-last-child(1), #calendar tr td:nth-last-child(2) {
    filter: brightness(95%);
  }
  
  
  
  
  
  footer {
    background-color: var(--col-custom);
    padding-block: 1rem;
  }