:root {
    --c-primary: #404E67 ;
    --c-secondary: #5b626b;
    --c-secondary-2: #a3a4a6;
    --bg-main-white: #F5F7FA;
    --bg-custom-white: #f2f6f8;
    --sidebar-width: 14.375rem; 
    --sidebar-expanded-width: 14.375rem; 
    --sidebar-collapsed-width: 3.125rem;
    --header-min-height: 3.125rem;
    --header-max-height: 6.25rem; 
    --bs-box-shadow: 0 0.3125rem 1.25rem rgba(0, 0, 0, 0.05);
    --calendar-cell-min-width: 5rem;
    --calendar-cell-min-height: 4rem;
    --nav-item-collapsed-height: 2.5rem;
}

body {
    font-family: Poppins, sans-serif  !important;
}

.dashboard {
    height: auto;
    min-height: 100%;
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: minmax(var(--header-min-height), auto) 1fr;
    line-height: 1 !important;
    transition: 0.5 ease;
}

    /* #region HEADER */
    header {
        z-index: 30;
        display: grid;
        grid-template-columns: var(--sidebar-width) auto 1fr;
        align-items: center;
        grid-column: 1 / -1;
        grid-row: 1;
        background-color: var(--bg-custom);
    }

    .brand-logo {
        padding-block: 0.3rem;
        display: flex;
        justify-content: center;
    }

    .brand-logo img {
        height: calc(3.125rem - 0.6rem);
        width: auto;
        filter: drop-shadow(0.1rem 0.1rem 0.3rem white);
    }

    header .nav-item {
        display: flex;
        align-items: center;
    }

    header .nav-item:hover, .navbar-toggler:hover {
        background-color: var(--bg-custom-hovered);
    }

    header .nav-link {
        color: white;
        font-size: var(--fs-custom);
    }

    header .nav-link:hover, header .nav-link:focus {
        color: white;
    }

    .header-user-image {
        width: 1.5625rem;
        height: 1.5625rem;
        border-radius: 50%;
    }
    /* #endregion */

    /* #region SIDEBAR */
    #sidebar {
        z-index: 5;
        grid-row: 2 / -1;
        grid-column: 1;
        min-height: calc(100svh - var(--header-min-height));
        background-color: var(--bg-secondary);
    }

    .sidebar-user-wrapper {
        background: url(./images/sidebar-user-bg.webp) top / cover no-repeat;
        padding: 0.3125rem 0.625rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebar-user-wrapper img {
        border-radius: 50%;
        margin-block: 0.625rem;
        height: 2.8125rem;
        width: 2.8125rem;
    }

    .sidebar-user-wrapper p {
        margin-bottom: 0.625rem;
        color: white;
        font-size: var(--fs-custom);
        font-weight: 600;
    }

    .sidebar-user-wrapper a {
        color: white;
        text-decoration: none;
        font-size: 11px;
        padding: 0 0.625rem 0.3125rem 0.625rem;
    }

    .sidebar-header {
        /* overflow: hidden; */
        display: block;
        color: var(--c-secondary);
        padding-block: 0.3125rem;
        padding-inline: 0.9375rem;
    }  

    .sidebar-header small {
        font-size: 0.75rem !important;
        font-weight: 500;
    }

    .sidebar-nav {
        height: 100%;
    }

    .sidebar-nav > .nav-item {
        position: relative;
        padding: 0.1875rem 0.3125rem;
    }

    .sidebar-nav > .nav-item a {
        display: block;
        /* width: 100%; */
        text-decoration: none;
        color: var(--c-secondary);
        line-height: 1.5;
    }
    
    .sidebar-nav > .nav-item > a > .nav-btn {
        position: relative;
        border: 0;
        border-radius: 5px;
        padding: 0.625rem 0.3125rem 0.625rem 0.5rem;
        width: 100%;
        display: flex;
        align-items: center;
        /* justify-content: center; */
        background-color: transparent;
        color: inherit;
        font-size: var(--fs-custom);
        text-align: start;
        transition: all 0.15s;;
    }

    .sidebar-nav > .nav-item.active > a > .nav-btn, .sidebar-nav > .nav-item > a > .nav-btn:hover, .nav-item:has(.sub-menu:hover) .nav-btn {
        background-color: var(--bg-custom);
        color: white;
    }

    .sidebar-nav > .nav-item > a > .nav-btn > i {
        margin-right: 0.625rem;
        width: 1.9375rem;
        font-size: 1rem;
        text-align: center;
    }
    
    .fa-ticket {
        transform: rotate(-45deg);
    }

    .sub-item:has(.sub-item) a {
        position: relative;
    }

    .sub-item:has(.sub-item) .fa-angle-left {
        margin-right: 0;
    }

    .fa-angle-left {
        position: absolute;
        top: 50%;
        right: 0;
        margin-right: calc(var(--fs-custom) * 1.25);
        font-size: calc(var(--fs-custom) * 0.8);
        transform: translateY(-50%);
        transition: transform 0.4s;
    }

    .sub-menu {
        list-style-type: none;
        padding-left: 0.3125rem;
        margin-inline: 0.1rem;
        display: none;
    }

    .sub-menu-header {
        padding-left: var(--fs-custom);
        height: var(--nav-item-collapsed-height);
        display: none;
        align-items: center;
        font-size: var(--fs-custom);
        font-weight: 700;
        color: white;
        background-color: var(--bg-custom);
    }

    .sub-menu .sub-menu {
        padding-left: 0.625rem;
    }

    .sub-menu a {
        padding: 0.625rem 0.3125rem 0.5rem 0.9375rem;
        font-size: var(--fs-custom);
        /* font-weight: 400; */
        transition: color 0.3s;
    }

    .sub-item a{
        display: flex !important;
        align-items: center;
    }

    .sub-menu .sub-item:hover > a{
        color: var(--bg-custom);
    }

    .sub-menu i {
        width: 1.25rem;
        font-size: 0.625rem;
    }

    .sidebar-sticky {
        display: flex;
        background-color: var(--bg-custom-white);
        border-top: 1px solid rgba(120, 130, 140, .13);
    }

    .sidebar-sticky a{
        padding: 0.3125rem;
        width: 20%;
        color: var(--c-secondary);
        /* font-size: 1.125rem; */
        text-align: center;
    }

    .sidebar-sticky a:hover {
        color: var(--c-custom);
    }

    a:has(.tooltip-custom) {
        position: relative;
    }

    a:has(.tooltip-custom):hover>.tooltip-custom {
        opacity: 1;
    }

    .tooltip-custom {
        z-index: 4;
        position: absolute;
        top: calc(-1.5rem - 4px);
        left: 50%;
        opacity: 0;
        border-radius: 8px;
        height: 1.5rem;
        width: max-content;
        padding-inline: 0.5rem;
        padding-block: 0.25rem;
        background-color: #000;
        color: white;
        font-size: 0.8rem;
        transform: translateX(-50%);
        transition: opacity 0.3s ease;
    }
        /* #region Sidebar Dropdown */
        .dropdown.show .fa-angle-left {
            /* margin-right: 0; */
            /* margin-bottom: calc(var(--fs-custom)* 1.25);  */
            transform: rotate(-90deg) translateX(100%);
        }

        .dropdown.show > .sub-menu {
            display: block;
        }
        /* #regionend */

        /* #region Sidebar Collapsed */
        #sidebar.collapsed .sidebar-desc {
            display: none !important;
        }
        
        #sidebar.collapsed > ul > li > .sub-menu {
            padding: 0;
            padding-bottom: calc(var(--fs-custom) / 2);
            box-shadow: 0.1rem 0.1rem 1rem rgb(0 0 0 / 0.15);
        }

        #sidebar.collapsed .sub-menu:has(.sub-menu) > .sub-item .sub-menu {
            position: relative;
            display: block;
        }

        #sidebar.collapsed > ul > li {
            padding: 0;
        }

        #sidebar.collapsed > ul > li > a > .nav-btn {
            border-radius: 0;
            padding-inline: 0;
            height: var(--nav-item-collapsed-height);
        }

        #sidebar.collapsed > ul > li > a > .nav-btn > i {
            margin-inline: auto;
        }

        #sidebar.collapsed .sub-menu-header {
            display: flex;
        }


        #sidebar.collapsed > ul > li.nav-item:has(.sub-menu):hover > .sub-menu {
            display: block;
        }

        #sidebar.collapsed > ul > li > .sub-menu {
            margin: 0;
            position: absolute;
            left: 100%;
            top: 0; 
            /* display: none; */
            background-color: var(--bg-secondary);
        }

        #sidebar.collapsed > ul > li > .sub-menu a {
            white-space: nowrap ;
            padding-inline: var(--fs-custom);
        }

        /* #endregion */

    /* #endregion */

    /* #region MAIN */
    .main {
        position: relative;
        padding: 0.9375rem 0.9375rem 0 0.9375rem;
        grid-column: 2 / -1;
        grid-row: 2 / -1;
        gap: 1.25rem;
        background-color: var(--bg-custom-white);
    }

    .row {
        row-gap: 1.25rem;
    }

    .row-child {
        padding-inline: 0.9375rem;
    }

    .main-btn {
        border: 0;
        padding-inline: 0;
        background-color: transparent;
        width: 100%;
    }

    .main-link {
        text-decoration: none;
        color: inherit;
    }

        /* #region Greeting */
        .greeting-wrapper {
            padding-top: 0.9375rem;
        }

        .greeting {
            margin-block: 0.3125rem;
            color: var(--c-primary);
            font-size: 1.5625rem;
            font-weight: 700;
        }

        .greeting-date {
            margin-bottom: 0.625rem;
            color: var(--c-secondary-2);
            font-size: var(--fs-custom);
        }
        /* #endregion */

        /* #region Row1 */
        .row1 {
            height: 6.25rem;
            padding: 0.9375rem;
        }

        .row1 span {
            color: var(--c-secondary);
        }

        .row1-img {
            height: 4.375rem;
            width: 4.375rem;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            background: #888;
            font-size: 1.875rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .row1-img.employees {
            background-color: #337ab7;
        }

        .row1-img.roles {
            background-color: #46be8a;
        }

        .row1-img.leave {
            background-color: #8a67d2;
        }

        .row1-img.hr {
            background-color: #f96868;
        }

        .row1-content {
            overflow: hidden;
            padding-left: 1.25rem;
            height: fit-content;
        }

        .row1-content span {
            overflow: hidden;
            padding-block: 0.125rem;
            text-overflow: ellipsis;
            font-size: 1rem;
            font-weight: 300;
        }

        .row1-content .span-bold {
            font-size: 0.8125rem;
            font-weight: 600;
            text-transform: uppercase;
        }

        .badge {
            border-radius: 0.25rem;
            padding-block: 1.5625rem;
            padding-inline: 0.25rem;
            color: white !important;
            font-size: 85% !important;
            font-weight: 300;
        }

        .badge-info {
            background-color: #29bbe3;
        }
        .badge-danger {
            background-color: #f96868;
        }
        /* #endregion */

        /* #region Row2 */
        .row2 {
            padding: 0.9375rem;
        }

        .row2 h5 {
            padding-bottom: 0.9375rem;
        }

        .row2 .row {
            margin-right: 0;
            row-gap: 0.9375rem;
        }

        .employees-depart-list, .employees-desig-list {
            overflow: auto;
            text-overflow: ellipsis;
            height: 12.5rem;
        }

        .color-box {
            /* height: 0.3125rem;
            width: 0.3125rem; */
            height: 0.625rem;
            width: 0.625rem;
            background-color: #5b626b;
        }

        .row2 .table tr > td {
            padding: 0.46875rem;   
            vertical-align: middle;
            color: var(--c-primary);
            line-height:  1.42857143;
            font-weight: 400;
            font-size: var(--fs-custom);
        }

        /* #endregion */

        /* #region Row3 */
        .row3 {
            padding: 0.78125rem;

        }

        .tickets-number {
            font-size: 1.78125rem;
            font-weight: 400;
        }

        .row3 i {
            font-size: 1.8125rem;
        }

        .total-tickets i {
            color: #666EE8;
        }

        .open-tickets i {
            color: #a94442;
        }

        .closed-tickets i {
            color: #3c763d;;
        }
        /* #endregion */

        /* #region Row4 */
        .draggable {
            position: relative;
            box-sizing: border-box;
            border: 1px solid #ddd;
            border-radius: 0.2rem;
            min-height: 34px;
            padding: 5px;
            padding-left: 10px;
            display: flex;
            align-items: center;
            cursor: grab;
        }

        .draggable:active {
            cursor: grabbing;
        }

        .draggable i {
            margin-right: 10px;
        }

        .draggable+.draggable {
            margin-top: 5px;
        }

        .draggable.holidays {
            color: #00a65a;
        }

        .draggable.leave {
            color: #00c0ef;
        }

        .draggable.travel {
            color: #3c8dbc;
        }

        .draggable.trainings {
            color: #f39c12;
        }

        .draggable.projects {
            color: #605ca8;
        }

        .draggable.tasks {
            color: #d81b60;
        }

        .draggable.events {
            color: #001f3f;
        }

        .draggable.meetings {
            color: #39cccc;
        }
        
        .draggable.goals {
            color: #3c8dbc;
        }

        .draggable.birthdays {
            color: #dd4b39;
        }


        .calendar *:not(h1, h2, h3, h4, h5, h6) {
            font-size: var(--fs-custom);
        }
        
        .calendar h2,.table thead th {
            color: var(--c-primary);
            text-align: center;
        }

        .calendar button {
            height: 30px;
        }

        .month-nav-btn {
            height: 30px;
            aspect-ratio: 1 / 1;
        }

        #calendar {
            width: 100%;
            table-layout: fixed;
        }

        .calendar .calendar-body {
            position: relative;
            overflow: auto;
            max-height: 43.75rem;
        }
        .calendar tr {
            display: flex;
        }
        
        #calendar table td {
            min-height: var(--calendar-cell-min-height);
        }
        
        #calendar thead {
            z-index: 2;
            position: sticky;
            top: 0;
        }

        #calendar th,
        #calendar td {
            flex: 1 0 var(--calendar-cell-min-width);
            border-width: var(--bs-border-width);
            padding-top: 0;
        }
        
        #calendar .td-body {
            min-height: 40px;
        }

        #calendar .td-head-wrapper {
            text-align: end;
        }

        #calendar a {
            /* width: 100%; */
            color: var(--c-custom-1);
            font-size: 1.25rem;
            font-weight: 300;
            text-decoration: none;
            text-underline-offset: 2px;
        }

        #calendar a:hover {
            text-decoration: underline;
        }

        #calendar td:has(.td-head[data-current='false']) .td-head-wrapper a {
            color: var(--link-custom);
        }

        #calendar tr td:nth-last-child(1),
        #calendar tr td:nth-last-child(2) {
            filter: brightness(95%);
        }
        /* #endregion */

        /* #region Row5 */
        .row5 {
            padding: 1.5625rem;
            height: 100%;
        }
        
        .row5 > div {
            gap: 1.5625rem;
        }

        .row5-content {
            flex-wrap: wrap-reverse;
        }

        .row5 i {
            font-size: 1.875rem;
        }

        .row5 .fa-money-bill-1, .row5 .fa-dollar-sign {
            color: #dd4b39;
        }

        .row5 a {
            color: #6c757d;
            font-size: 1rem;
            font-weight: 300;
            height: fit-content;
        }

        .row5 a:hover {
            color: black;
        }

        .row5-money {
            font-size: 1.125rem;
            font-weight: 600;
            color: #00a65a;
        }

        /* #endregion */

        /* #region Footer */
        footer {
            z-index: 2;
            position: absolute;
            bottom: 0;
            width: 100%;
            margin-inline: calc(-1 * 0.9375rem);
            border-top: 1px solid #d2d6de;
            padding-block: 1rem;
            background-color: white;
            color: #444;
            font-size: var(--fs-custom);
            font-weight: 700;
        }
        
        footer h6 {
            margin-bottom: 0;
        }
        /* #endregion */
    /* #endregion */

