:root {
    --fs-custom: 14px;
    --c-custom: #666;
    --c-custom-1: #3c8dbc;
    --c-dark-custom: #455a64;
    --link-custom: #b8c7ce;
    --bg-custom: #0177bc;
    --bg-custom-1: #4099ff;
    --bg-secondary: white;
    --bg-disable: #337ab7;
}

body {
    min-height: 100svh;
    /* min-width: 100svw; */
}

h5 {
    margin-bottom: 0;
    font-size: 1.125rem;
    font-weight: 500;
}

.text-dark-custom {
    color: var(--c-dark-custom);
}

.fs-custom {
    font-size: var(--fs-custom) !important;
}

.text-secondary {
    color: var(--c-secondary);
}

.btn-custom {
    background-color: var(--bg-custom);
    color: white;
    border-width: 0;
    border-radius: 0;
    padding-inline: 0.75rem;
    padding-block: 0.375rem;
    transition: 0.2s;
}

.btn-custom:hover {
    color: white;
    filter: brightness(120%);
}

.btn-custom:active {
    filter: brightness(85%);
}

.btn-custom:disabled {
    filter: opacity(0.5);
}

.btn-custom-1 {
    background-color: var(--bg-custom-1);
    color: white;
    border: 0;
    border-radius: 5px;
    transition: 0.2s;
}

.btn-custom-1:hover {
    filter: brightness(120%);
}

.btn-custom-1:active {
    filter: brightness(80%);
}

.btn-custom-1[disabled] {
    opacity: 0.5;
}