:root {
    /* --nav-height: 10vh; */
    --info-height: 8.5rem;
}

body {
    font-family: 'inter', system-ui, sans-serif;
}

h3 {
    font-size: calc(1rem + 0.4vw) !important;
    font-weight: 400;
}

h4 {
    font-size: calc(1rem + 1.5vw);
}

.fs-5 {
    font-size: calc(0.8rem + 0.7vw) !important;
}

.fs-6 {
    font-size: calc(0.7rem + 0.4vw) !important;
}

.container-fluid {
    padding: 0;
}

/* 
header {
    height: var(--nav-height);
} */

.hero-section {
    background-image: url(./images/cover-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
}

.hero-content {
    padding-top: 10rem;
    filter: drop-shadow(0.1rem 0.1rem 0.2rem black)
}

.content-info-img {
    max-width: calc(2.575rem + 1.5vw)
}

.content-image {
    max-height: 45rem;
}

.contactus-section {
    height: 40rem;
}

.contactus-section button {
    width: fit-content;
}

.contactus-wavy-text {
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

.content-info {
    left: 0;
}
 

@media only screen and (min-width: 768px) {
    .content-desc {
        padding-bottom: var(--info-height);
    }

    .content-info {
        position: absolute;
        max-height: var(--info-height);
    }

    
}

@media only screen and (min-width: 200px) and (max-width: 991px) {
    .content-image {
        max-height: 35rem;
    }

    .content-info {
        width: unset;
    }
}

@media only screen and (max-width: 768px) {
    .content-info {
        top: 0;
    }
}

@media only screen and (min-width: 992px) {
    .top-bar {
        display: block !important;
    }
}

@media only screen and (min-width: 1200px) {
    .main > div {
        max-width: 1040px;
    }
}